body {
  background-color: #00203FFF; /* #240d20 */
  color: #ADEFD1; /* #fbdcc4 074989 #ADEFD1FF 004588*/
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}
a:link, a:hover, a:active, a:visited {
  color: #fbd46d;
}
.maincolumn {
  width: 38em;
  margin-right: -40em;
  margin-left: 15em;
  line-height: 1.6em;
}
.table1 {
  border-collapse: collapse;
}
.table1 td, .table1 th {
  border: 1px solid #bc9000;
  padding: 10px 20px;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
pre {
  background-color: #cfd1a7;
  overflow: auto;
  font-family: 'Monaco', monospace;
  padding: 0 1em;
  font-size: 0.9em;
}
code {
  font-family: Monaco, monospace;
  line-height: 100%;
  color: #565656; /* #636262 */
  padding: 0.2em;
  letter-spacing: -0.05em;
  word-break: normal;
  /border-radius: 5px;/
}
/* Tekstbokser på høyre side av hovedkolonnen */
.refelem, .refcolumn, .refcontent {
  background-color: #002F5D;
  color: #C57500; /* #eeeeee */
  border-color: black;
  font-family: 'IBM Plex Serif';
}
.refpara, .refelem {
  position: relative;
  float: right;
  left: 2em;
  height: 0em;
  width: 13em;
  margin: 0em -13em 0em 0em;
}
.refcolumn {
  background-color: #002F5D; /* #F5F5DC */
  display: block;
  position: relative;
  width: 13em;
  font-size: 85%;
  border: 0.5em solid #002F5D;
  margin: 0 0 0 0;
  white-space: normal;
}
.refcontent {
  margin: 0 0 0 0;
}
/* Innholdsfortegnelse på venstre side av hovedkolonnen */
.tocset {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  float: left;
  width: 12.5em;
  margin-right: 2em;
}
.tocview, .tocsub {
  background-color: #4f8a8b;
}
.tocviewlisttopspace {
  margin-bottom: 1em;
}
.tocviewlist, .tocsublist {
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.tocviewlist table {
  font-size: 82%;
}
.tocviewlink {
  text-decoration: none;
}
.tocsubtitle {
  font-size: 82%;
  font-style: italic;
  margin: 0.2em;
}
.tocsublinknumber {
  font-size: 82%;
}
.tocsubseclink {
  font-size: 82%;
  text-decoration: none;
}
.tocviewtitle * {
  font-weight: bold;
}
.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom {
  margin-left: 0.4em;
  border-left: 1px solid #bbf;
  padding-left: 0.8em;
}
.tocviewsublist table, .tocviewsublistonly table, .tocviewsublisttop table, .tocviewsublistbottom table {
  font-size: 75%;
}
.tocviewtoggle {
  text-decoration: none;
  color: blue;
  font-size: 75%;
}
.tocviewselflink {
  text-decoration: underline;
}
.tocviewlisttopspace {
  margin-bottom: 1em;
}
.versionbox {
  position: relative;
  float: right;
  left: 2em;
  height: 0em;
  width: 13em;
  margin: 0em -13em 0em 0em;
}
.version {
  font-size: small;
}
